<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SubtitlesEditor1.0</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.ocr.servlets.HomeServlet</servlet-class>
    <multipart-config>
      <location>/tmpUpload/</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.ocr.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Subtitle</servlet-name>
    <servlet-class>com.ocr.servlets.SubtitleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Download</servlet-name>
    <servlet-class>com.ocr.servlets.DownloadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadTranslation</servlet-name>
    <servlet-class>com.ocr.servlets.DownloadTranslationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadCurrentTranslation</servlet-name>
    <servlet-class>com.ocr.servlets.DownloadCurrentTranslationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Update</servlet-name>
    <servlet-class>com.ocr.servlets.UpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Translate</servlet-name>
    <servlet-class>com.ocr.servlets.TranslateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddTranslation</servlet-name>
    <servlet-class>com.ocr.servlets.AddTranslationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateTranslate</servlet-name>
    <servlet-class>com.ocr.servlets.UpdateTranslationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Subtitle</servlet-name>
    <url-pattern>/subtitle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Download</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadTranslation</servlet-name>
    <url-pattern>/downloadTranslation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadCurrentTranslation</servlet-name>
    <url-pattern>/downloadCurrentTranslation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddTranslation</servlet-name>
    <url-pattern>/addTranslation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Translate</servlet-name>
    <url-pattern>/translate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateTranslate</servlet-name>
    <url-pattern>/updateTranslate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.css</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.js</url-pattern>
  </servlet-mapping>
</web-app>